.card-area{

    width: 70px;
    height: 110px;
    
    border-radius: 10px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    backface-visibility: hidden;

    transition: .7s;
}


.card > div{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;

    border-radius: 10px;

}

.card-front{
    background-color: rgb(91, 225, 248);
    border-radius: 10px;
    text-decoration: white;
}

.card-back{
    background-color: rgb(45, 105, 244);
    transform: rotateY(180deg);
    border-radius: 10px;
}

.flip > .card{
    transform: rotateY(180deg);
}


main{
    background-color: rgb(255, 140, 196);
    width: 800px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 120px;
    place-items: center center;
    place-content: center;
}